* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-image: url("https://images.pexels.com/photos/3822728/pexels-photo-3822728.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 100px 0;
  position: relative;
}

header::after {
  content: "";
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header * {
  z-index: 1;
}

header h1 {
  margin: 0 0 30px;
  transform: translateY(40px);
}

input:focus,
button:focus {
  outline: 0;
}

form {
  transform: translateY(40px);
  position: relative;
  width: 500px;
  max-width: 100%;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
}

form button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #e056fd;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 13px 30px;
}

.btn {
  background-color: #8d56fd;
  color: #fff;
  padding: 4px 10px;
  border: 0;
  border-radius: 10px;
  max-height: 25px;
  min-width: 100px;
}

ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.container {
  margin: 30px auto;
  max-width: 100%;
  width: 500px;
}

.container h2 {
  font-weight: 300;
}

.container p {
  text-align: center;
  font-weight: 550;
}

.centered {
  display: flex;
  justify-content: center;
}

.centered button {
  margin: 15px;
}
