* {
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.side-container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

aside {
  padding: 10px 20px;
  width: 250px;
  border-right: 1px solid #111;
}

button {
  background-color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: 20px;
  width: 95%;
}

main {
  flex: 1;
  padding: 10px 20px;
}

h2 {
  border-bottom: 1px solid #111;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: -15px -10px 0;
}

h3 {
  background-color: #fff;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  /* margin: 20px 0 0; */
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 5px;
}
